@import './_mixins.scss';
@import './_variables.scss';
@import './_animations.scss';

.about-img {
    @include headerImg;
}

.about-section {
    padding: 0 15%;
    display: flex;
    flex-direction: column;

    .section-titles {
        @include scrollingMenu;
        margin: 0;

        .chevron-icon {
            margin-top: 8px;
            transition: transform 0.5s;

            &.dropdown-animation {
                animation: dropdownAnimation 0.5s forwards;
            }
        }
    }
}

.section-hidden-text {
    @include hiddenText;
    margin: 0 0 20px 0;
}