@import './_mixins.scss';
@import './_variables.scss';


.container-about-title-img {
    @include headerImg;
    background-image: url(../images-p8/Image2.png);

    @media (max-width: 767px) {
        height: 200px;
        border-radius: 10px;
    }
}

.about-section {
    padding: 0 15%;
    display: flex;
    flex-direction: column;

    @media (max-width: 767px) {
        padding: 0 5%;
    }

    .section-titles {
        // @media (min-width: 767px) {
        //     width: 96%;
        // }
    }
}

