@import './_mixins.scss';

.collapse-title {
    width: 100%;
    box-sizing: border-box;
    @include scrollingMenu;

    // @media (max-width: 767px) {
   

    // }
}

.fa-chevron-down {
    overflow: visible;
    box-sizing: content-box;
    color: white;
}

.collapse-content {
    @include hiddenText;
    margin: -20px 0 20px 0;

}