@import './_mixins.scss';

.collapse-title {
    width: 40vw;
    @include scrollingMenu;

    @media (max-width: 767px) {
        width: 86vw;

    }
}

.fa-chevron-down {
    overflow: visible;
    box-sizing: content-box;
    color: white;
}

.collapse-content {
    @include hiddenText;
    margin: -20px 0 20px 0;

}