@import './_mixins.scss';

.fa-chevron-down {
    overflow: visible;
    box-sizing: content-box;
    position: absolute;
    color: white;
    margin-top: -30px;
    left: 81%;

    @media (max-width: 767px) {
        left: 85%;
    }
}

.collapse-content {
    @include hiddenText;
    margin: -20px 0 20px 0;

}
