@import './_mixins.scss';
@import './variables.scss';



.container-title-img {
  @include headerImg;
  background-image: url(../images-p8/Image1.png);

  @media (max-width: 767px) {
    height: 90px;
    border-radius: 10px;
  }

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.3);
    /* Couleur semi-transparente */
    border-radius: 20px;
  }
}

#home-title {
  color: white;
  z-index: 2;

  @media (max-width: 767px) {
    align-items: normal;
    justify-content: normal;
    padding: 5%;
    font-size: 20px;
  }
}

.home-section {
  justify-content: center;
  align-items: center;
  background-color: rgb(233, 232, 232);
  margin: 0 5%;
  padding: 20px;
  width: 90%;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  border-radius: 10px;
  box-sizing: border-box;

  .home-section-child {
    height: 200px;
    width: 30%;
    color: aliceblue;
    background: transparent;
    
    position: relative;
    box-sizing: border-box;


    .home-section-child-text {
      font-size: 14px;
      margin-top: -40px;
      margin-left: 2%;
      position: absolute;
      flex-wrap: wrap;


    }
  }
}

.home-section-child-img {
  height: 200px;
  width: 100%;
  object-fit: cover;
  border-radius: 10px;
}