@import './_mixins.scss';
@import './variables.scss';

#home-nav {
  display: flex;
  justify-content: space-between;
  margin: 2% 5% 35px 5%;
  width: 90%;


  .logo {
    height: 40px;
    margin-top: 10px;

    @media (max-width: 767px) {
      height: 30px;
    }
  }

  .home-nav-link {
    display: flex;
    gap: 20px;
    margin-top: 10px;
    align-items: center;

    a {
      text-decoration: none;
      color: $orange-color;

      
      &:visited {
        text-decoration: underline;
      }
    }
  }
}


.container-title-img {
  @include headerImg;
  background-image: url(../images-p8/Image1.png);

  @media (max-width: 767px) {
    height: 90px;
    border-radius: 10px;

  }
}

#home-title {
  color: red;

  z-index: 2;

  @media (max-width: 767px) {
    align-items: normal;
    justify-content: normal;
    padding: 5%;
    font-size: 20px;
  }
}

.home-section {
  background-color: rgb(233, 232, 232);
  margin: 0 5%;
  padding: 20px;
  width: 90%;
  height: auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 30px;
  border-radius: 10px;
  box-sizing: border-box;

  .home-section-child {
    display: flex;
    color: aliceblue;
    background: transparent;
    border-radius: 10px;
    width: 100%;
    height: 100%;
    overflow: hidden;
    aspect-ratio: 1/1;
    position: relative;
    align-items: flex-end;

    box-sizing: border-box;

    .home-section-child-text {
      font-size: 14px;
      margin-top: -10%;
      position: absolute;

    }
  }
}

.home-section-child-img {
  height: 100vw;
  width: 100vw;
  object-fit: cover;
}

.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 30px;
  padding-bottom: 20px;
  width: 100%;
  margin: 0 auto;
  background-color: black;
  color: white;
  position: relative;
  bottom: 0;



  .footer-container-logo {
    width: 62px;
    margin: 0 auto;
    margin-bottom: 20px;

    .logo {
      filter: brightness(0) invert(1);

      height: 20px;
    }
  }

  .footer-subtitle {
    width: 230px;
    margin: 0 auto;
  }
}