@import './_mixins.scss';
@import './_animations.scss';

.img-caroussel {
    height: 350px;
    object-fit: cover;
    width: 90%;
    margin: 0 5%;
}

.arrow-left {
    @include arrowStyle;
    left: 10%;

}

.arrow-right {
    @include arrowStyle;
    right: 10%;
}

.title {
    margin-top: 10px;
}

.title-and-picture-host {
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: 0 5%;
}

.title-and-location {
    display: flex;
    flex-direction: column;

    .keyword-decription {
        display: flex;
        flex-direction: row;
        color: $white-color;
        gap: 20px;

        /*cible l'enfant*/
        >* {
            margin: 10px 0;
            font-size: 14px;
            padding: 0px 30px 1px 30px;
            background-color: $orange-color ;
            border-radius: 10px;
        }
    }
}
.rating {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 10px;
    
  
}
.host-name {
    width: 50px;
}
.host-name-and-picture{
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    gap : 5px;
}
.host-picture {
    border-radius: 50%;
    object-fit: cover;
    height: 64px;
    width: 64px;
}
.star-filled {
    color: $orange-color;
  }
  
  .star-empty {
    color: gray;
  }
.description-and-items {
display: flex;
flex-direction: row;
justify-content: space-between;
margin: 0 5%

}
  .location-description {
    @include scrollingMenu;
    width: 40vw;
}
.location-chevron {
    
}
.location-description-text {
 @include hiddenText;
 width: 40vw;
 list-style-type: none;
}
  