@import './_mixins.scss';

.img-carousel {
    height: 350px;
    object-fit: cover;
    width: 90%;
    margin: 0 5%;

    @media (max-width: 767px) {
        border-radius: 10px;
        height: 250px;
    }
}

.arrow-left {
    @include arrowStyle;
    left: 10%;
}

.arrow-right {
    @include arrowStyle;
    right: 10%;
}

.caroussel-counter {
    position: absolute;
    top: 430px;
    left: 49%;
    color: white;

    @media (max-width: 767px) {
        top: 310px;
    }
}

.title {
    margin-top: 10px;
}

.title-and-picture-host {
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: 0 5%;

    @media (max-width: 767px) {
        flex-direction: column;
    }

    .host-name-picture-and-stars {
        @media (max-width: 767px) {
            display: flex;
            flex-direction: row-reverse;
            justify-content: space-between;
        }
    }
}

.title-and-location {
    display: flex;
    flex-direction: column;

    .keyword-decription {
        list-style-type: none;
        display: flex;
        flex-direction: row;
        color: $white-color;
        gap: 20px;

        @media (max-width: 767px) {
            gap: 5px;
        }

        /*cible l'enfant*/
        >* {
            margin: 10px 0;
            font-size: 14px;
            padding: 0px 30px 1px 30px;
            background-color: $orange-color ;
            border-radius: 10px;

            @media (max-width: 767px) {
                padding: 0px 4% 2px 4%;
                border-radius: 5px
            }
        }
    }
}

.rating {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 10px;

    @media (max-width: 767px) {
        gap: 5px;
        margin-top: 25px;
    }
}

.host-name {
    width: 50px;
    margin-right: 10px;
    padding-top: 10px;

    @media (max-width: 767px) {
        padding-top: 0;
    }
}

.host-name-and-picture {
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    gap: 5px;

    @media (max-width: 767px) {
        margin-bottom: 10px;
    }

    .host-picture {
        border-radius: 50%;
        object-fit: cover;
        height: 64px;
        width: 64px;

        @media (max-width: 767px) {
            height: 35px;
            width: 35px;
        }
    }
}

.star-filled {
    color: $orange-color;
}

.star-empty {
    color: gray;
}

.description-and-items {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 5%;
    width: 90%;

    @media (max-width: 767px) {
        flex-direction: column;
        width: 90%;
    }
}

.description-and-items-width {
    width: 45%;

    @media (max-width: 767px) {
        width: 100%;
    }
}

.location-description {
    @media (max-width: 767px) {
        width: 96%;
    }
}

.collapse-content {
    @include hiddenText;
    width: 100%;
    list-style-type: none;
}