@mixin headerImg {
  height: 150px;
  width: 90%;
  object-fit: cover;
  margin: 0 5%;
  border-radius: 20px;
  filter: brightness(0.7);
  margin-bottom: 25px;
}

@mixin arrowStyle {
  position: absolute;
  top: 50%;
  font-size: 3em;
  color: white;
  transform: translateY(-50%);
}

@mixin scrollingMenu {
  font-size: 20px;
        font-weight: 400;
        padding: 4px 10px 6px 10px;
        color: $white-color;
        background-color: $orange-color;
        display: flex;
        justify-content: space-between;
        border-radius: 5px;
}

@mixin hiddenText {
 
  background-color: $grey-color;
  padding: 0;
  border-radius: 0 0 5px 5px;
  overflow: hidden;
  height: 0;
  
}

