@import './_mixins.scss';
@import './variables.scss' ;
@import './animations.scss';

.about-img {
    @include headerImg;
}

.about-section {
    padding: 0 15%;
    display: flex;
    flex-direction: column;

    .section-titles {
        @include scrollingMenu;
        margin:0 ;
        .chevron-icon {
            margin-top: 8px;
        }
    }
}
.section-hidden-text {
    @include hiddenText;
    margin: 0 0 20px 0;
}

.rotate-animation {
    animation: rotation-180 0.5s ease-out both;
  }
  
  