@import './_mixins.scss';

#home-nav {
    display: flex;
    justify-content: space-between;
    margin: 2% 5% 0 5%;
    width: 100%;
  
    .logo {
      height: 25px;
      margin-top: 10px;
    }
  
    .home-nav-link {
      display: flex;
      gap: 20px;
    }
  }
  
  #home-title {
    position: absolute;
    margin-top: 45px;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
    white-space: nowrap;
    z-index: 2;
  }
  #img1 {
  @include headerImg
  }
  
  .home-section {
    background-color: rgb(233, 232, 232);
    margin:  0 5%;
    padding: 20px;
    width: 100%;
    height: 500px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 30px;
    border-radius: 10px;
    box-sizing: border-box;
  
    .home-section-child {
      display: flex;
      color: aliceblue;
      background: linear-gradient(#FF6060,#a45151, #7c1e1e);
      border-radius: 10px;
      justify-content: flex-start;
      align-items: flex-end;
      padding-left: 15px;
      width: 100%;
      height: 100%;
      overflow: hidden;
      aspect-ratio: 1/1;
  
      .home-section-child-text {
        width: 70px;
        font-size: 14px; ;
      }
    }
  }
  .footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 30px;
    padding-bottom: 20px;
    width: 100%;
    margin: 0 auto;
    background-color: black;
    color: white;
  
    .footer-container-logo {
      width: 62px;
      margin: 0 auto;
      margin-bottom: 20px;
  
      .logo {
        fill: white;
        height: 20px;
      }
    }
    
          .footer-subtitle {
            width: 230px;
            margin: 0 auto;
          }
  }