@import './mixins.scss';

.img-caroussel {
    height: 350px;
    object-fit: cover;
    width: 90%;
    margin: 0 5%;
}

.arrow-left {
    @include arrowStyle;
    left: 10%;

}

.arrow-right {
    @include arrowStyle;
    right: 10%;
}

.title-and-picture-host {
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: 0 5%;
}

.title-and-location {
    display: flex;
    flex-direction: column;

    .keyword-decription {
        display: flex;
        flex-direction: row;
        color: $white-color;
        gap: 20px;

        /*cible l'enfant*/
        >* {
            padding: 0px 30px 3px 30px;
            background-color: $orange-color ;
            border-radius: 10px;
        }
    }
}
.rating {
    display: flex;
    flex-direction: row;
  
}
.host-picture {
    border-radius: 50%;
    object-fit: cover;
    height: 64px;
    width: 64px;
}
.star-filled {
    color: $orange-color;
  }
  
  .star-empty {
    color: gray;
  }
  